In [2]:
import joblib
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import pickle
import seaborn as sns
from IPython.core.pylabtools import figsize
from IPython.display import IFrame
from pandas.api.types import CategoricalDtype
from pandas import merge
from scipy.sparse import csr_matrix
from sklearn import datasets
from sklearn import metrics
from sklearn import neighbors                           
from sklearn import tree, linear_model,neighbors   
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer
from sklearn.datasets import load_boston
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis 
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import MissingIndicator
from sklearn.impute import SimpleImputer
from sklearn.linear_model import Lasso 
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge 
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import*
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.neural_network import MLPRegressor
from sklearn.pipeline import FeatureUnion
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVR
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor

In [6]:
# Retrive our sales table.
sales = pd.read_csv('Daily Wholegood Sales Master.csv')

In [28]:
#jdquote 1 is original jdquote attached with the column of Base/Implement and combined CustomerName
jdquote1 = pd.read_csv('jdquote1.csv')

/Applications/anaconda3/envs/cis432/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (1,15,36,49,52,56,57,58,59,61,63) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55377 entries, 0 to 55376
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Location          55377 non-null  object
 1   Stock #           55377 non-null  int64
 2   Serial No         52114 non-null  object
 3   Model             55377 non-null  object
 4   Make              55377 non-null  object
 5   Description       55320 non-null  object
 6   New/Used          55377 non-null  object
 7   Sale Date         55377 non-null  object
 8   Date Rcvd         55322 non-null  object
 9   Sold To           53546 non-null  object
 10  Total Sales       55377 non-null  object
 11  Total Cost        55377 non-null  object
 12  Gross Margin      55377 non-null  object
 13  Gross Margin %    53788 non-null  object
 14  salesperson_name  55374 non-null  object
 15  Salesperson Code  55374 non-null  object
 16  Acquired By       10294 non-null  object
 17  DaysOld           55322 non-null  float64
 18  category          54746 non-null  object
 19  sold_to_code      53560 non-null  object
dtypes: float64(1), int64(1), object(18)
memory usage: 8.4+ MB

In [9]:
jdquote1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330451 entries, 0 to 330450
Data columns (total 67 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   330451 non-null  int64
 1   QuoteID                      330431 non-null  object
 2   NameOfQuote                  274895 non-null  object
 3   QuoteType                    330431 non-null  object
 4   CreationDate                 330431 non-null  object
 5   ExpirationDate               330069 non-null  object
 6   CurrentQuoteStatus           330431 non-null  object
 7   CreatedLogon                 330431 non-null  object
 8   LastModifiedLogon            330431 non-null  object
 9   SalesPersonName              330415 non-null  object
 10  CompanyName                  39667 non-null   object
 11  ContactLastName              192953 non-null  object
 12  ContactFirstName             191408 non-null  object
 13  City                         166644 non-null  object
 14  StateProvince                231468 non-null  object
 15  PostalZip                    166641 non-null  object
 16  Phone                        179362 non-null  object
 17  Customer Email               75303 non-null   object
 18  DealerID                     330431 non-null  float64
 19  DealerName                   326972 non-null  object
 20  DealerCity                   326972 non-null  object
 21  DealerState                  326972 non-null  object
 22  EquipmentCode                324356 non-null  float64
 23  EquipmentDescription         324310 non-null  object
 24  EquipmentType                324356 non-null  object
 25  EquipmentSerialNumber        44751 non-null   object
 26  EquipmentQuantity            324356 non-null  float64
 27  EquipmentAmount              324356 non-null  object
 28  DeereMDP                     0 non-null       float64
 29  CPA/CA/Surcharge%            0 non-null       float64
 30  SellingPrice                 324356 non-null  object
 31  EquipmentManufacturer        321849 non-null  object
 32  EquipmentCategoryDesc        315463 non-null  object
 33  EquipmentSubCategoryDesc     315199 non-null  object
 34  EquipmentManufactureYear     34183 non-null   float64
 35  EquipmentModel               324298 non-null  object
 36  StockNumber                  74212 non-null   object
 37  IncentiveProgramNumber       129811 non-null  object
 38  EquipmentStatus              324356 non-null  object
 39  TradeInCode                  14798 non-null   float64
 40  TradeInDescription           1571 non-null    object
 41  TradeInSerialNumber          10821 non-null   object
 42  TradeInQuantity              14798 non-null   float64
 43  NetTradeValue                14798 non-null   object
 44  TradeInManufacturer          14776 non-null   object
 45  TradeInCategoryDesc          7884 non-null    object
 46  TradeInSubCategoryDesc       4029 non-null    object
 47  TradeInManufactureYear       12118 non-null   float64
 48  TradeInModel                 14798 non-null   object
 49  PONumber                     49585 non-null   object
 50  FinanceIncentive             257372 non-null  float64
 51  FinanceIncentiveDescription  83843 non-null   float64
 52  TradeDifference              244655 non-null  object
 53  Event                        325314 non-null  object
 54  POStatus                     129115 non-null  object
 55  SignedDate                   22702 non-null   object
 56  Reason For Lost Sales        2516 non-null    object
 57  Sales Lost To                29 non-null      object
 58  Competitor model             46 non-null      object
 59  Comments on Lost Deal        86907 non-null   object
 60  Net Cost                     329823 non-null  object
 61  WorkFlow Status              242921 non-null  object
 62  Type                         0 non-null       float64
 63  Unnamed: 62                  608 non-null     object
 64  Base/Implement               315417 non-null  object
 65  Unnamed: 0.1                 330451 non-null  int64
 66  CustomerName                 330451 non-null  object
dtypes: float64(12), int64(2), object(53)
memory usage: 168.9+ MB

In [10]:
# We only want records of non-null stocknumbers.
jdquote1 = jdquote1.dropna(subset = ['StockNumber'])
jdquote1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74212 entries, 0 to 330450
Data columns (total 67 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   74212 non-null  int64
 1   QuoteID                      74212 non-null  object
 2   NameOfQuote                  47391 non-null  object
 3   QuoteType                    74212 non-null  object
 4   CreationDate                 74212 non-null  object
 5   ExpirationDate               74144 non-null  object
 6   CurrentQuoteStatus           74212 non-null  object
 7   CreatedLogon                 74212 non-null  object
 8   LastModifiedLogon            74212 non-null  object
 9   SalesPersonName              74211 non-null  object
 10  CompanyName                  14382 non-null  object
 11  ContactLastName              52516 non-null  object
 12  ContactFirstName             52473 non-null  object
 13  City                         58714 non-null  object
 14  StateProvince                65726 non-null  object
 15  PostalZip                    58711 non-null  object
 16  Phone                        57504 non-null  object
 17  Customer Email               23065 non-null  object
 18  DealerID                     74212 non-null  float64
 19  DealerName                   73785 non-null  object
 20  DealerCity                   73785 non-null  object
 21  DealerState                  73785 non-null  object
 22  EquipmentCode                74212 non-null  float64
 23  EquipmentDescription         74212 non-null  object
 24  EquipmentType                74212 non-null  object
 25  EquipmentSerialNumber        43520 non-null  object
 26  EquipmentQuantity            74212 non-null  float64
 27  EquipmentAmount              74212 non-null  object
 28  DeereMDP                     0 non-null      float64
 29  CPA/CA/Surcharge%            0 non-null      float64
 30  SellingPrice                 74212 non-null  object
 31  EquipmentManufacturer        74188 non-null  object
 32  EquipmentCategoryDesc        71067 non-null  object
 33  EquipmentSubCategoryDesc     70907 non-null  object
 34  EquipmentManufactureYear     32763 non-null  float64
 35  EquipmentModel               74207 non-null  object
 36  StockNumber                  74212 non-null  object
 37  IncentiveProgramNumber       24157 non-null  object
 38  EquipmentStatus              74212 non-null  object
 39  TradeInCode                  8093 non-null   float64
 40  TradeInDescription           997 non-null    object
 41  TradeInSerialNumber          6005 non-null   object
 42  TradeInQuantity              8093 non-null   float64
 43  NetTradeValue                8093 non-null   object
 44  TradeInManufacturer          8079 non-null   object
 45  TradeInCategoryDesc          3902 non-null   object
 46  TradeInSubCategoryDesc       2230 non-null   object
 47  TradeInManufactureYear       6706 non-null   float64
 48  TradeInModel                 8093 non-null   object
 49  PONumber                     33723 non-null  object
 50  FinanceIncentive             65572 non-null  float64
 51  FinanceIncentiveDescription  15219 non-null  float64
 52  TradeDifference              57808 non-null  object
 53  Event                        70976 non-null  object
 54  POStatus                     46166 non-null  object
 55  SignedDate                   14841 non-null  object
 56  Reason For Lost Sales        1653 non-null   object
 57  Sales Lost To                0 non-null      object
 58  Competitor model             0 non-null      object
 59  Comments on Lost Deal        14215 non-null  object
 60  Net Cost                     74119 non-null  object
 61  WorkFlow Status              59904 non-null  object
 62  Type                         0 non-null      float64
 63  Unnamed: 62                  93 non-null     object
 64  Base/Implement               71050 non-null  object
 65  Unnamed: 0.1                 74212 non-null  int64
 66  CustomerName                 74212 non-null  object
dtypes: float64(12), int64(2), object(53)
memory usage: 38.5+ MB

In [11]:
# Retrive our Stock-joint-table.csv.
#"Stock-joint-table.csv" is inner join table on stocknumber of jdquote1 and sales table
# with deletion of unmatched records of both customername columns by filtering out fuzzywuzzy score less than 80%
# and replace two columns of customername with same name
stock_joint_table = pd.read_csv('Stock-joint-table.csv')

/Applications/anaconda3/envs/cis432/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (1,15,49,52,56,59,61,63) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
# We only want records of non-null stocknumbers.
stock_joint_table1 = stock_joint_table.drop_duplicates('StockNumber', keep='last')

In [74]:
stock_joint_table1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40258 entries, 1 to 69548
Data columns (total 86 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   X                            40258 non-null  int64
 1   QuoteID                      40258 non-null  object
 2   NameOfQuote                  24152 non-null  object
 3   QuoteType                    40258 non-null  object
 4   CreationDate                 40258 non-null  object
 5   ExpirationDate               40246 non-null  object
 6   CurrentQuoteStatus           40258 non-null  object
 7   CreatedLogon                 40258 non-null  object
 8   LastModifiedLogon            40258 non-null  object
 9   SalesPersonName              40257 non-null  object
 10  CompanyName                  7432 non-null   object
 11  ContactLastName              32345 non-null  object
 12  ContactFirstName             32336 non-null  object
 13  City                         37517 non-null  object
 14  StateProvince                39077 non-null  object
 15  PostalZip                    37516 non-null  object
 16  Phone                        36209 non-null  object
 17  Customer.Email               13625 non-null  object
 18  DealerID                     40258 non-null  int64
 19  DealerName                   40048 non-null  object
 20  DealerCity                   40048 non-null  object
 21  DealerState                  40048 non-null  object
 22  EquipmentCode                40258 non-null  int64
 23  EquipmentDescription         40258 non-null  object
 24  EquipmentType                40258 non-null  object
 25  EquipmentSerialNumber        26453 non-null  object
 26  EquipmentQuantity            40258 non-null  int64
 27  EquipmentAmount              40258 non-null  object
 28  DeereMDP                     0 non-null      float64
 29  CPA.CA.Surcharge.            0 non-null      float64
 30  SellingPrice                 40258 non-null  object
 31  EquipmentManufacturer        40244 non-null  object
 32  EquipmentCategoryDesc        38545 non-null  object
 33  EquipmentSubCategoryDesc     38437 non-null  object
 34  EquipmentManufactureYear     18646 non-null  float64
 35  EquipmentModel               40254 non-null  object
 36  StockNumber                  40258 non-null  int64
 37  IncentiveProgramNumber       10347 non-null  object
 38  EquipmentStatus              40258 non-null  object
 39  TradeInCode                  4709 non-null   float64
 40  TradeInDescription           729 non-null    object
 41  TradeInSerialNumber          3446 non-null   object
 42  TradeInQuantity              4709 non-null   float64
 43  NetTradeValue                4709 non-null   object
 44  TradeInManufacturer          4706 non-null   object
 45  TradeInCategoryDesc          2374 non-null   object
 46  TradeInSubCategoryDesc       1578 non-null   object
 47  TradeInManufactureYear       3782 non-null   float64
 48  TradeInModel                 4709 non-null   object
 49  PONumber                     26845 non-null  object
 50  FinanceIncentive             37678 non-null  float64
 51  FinanceIncentiveDescription  7521 non-null   float64
 52  TradeDifference              32552 non-null  object
 53  Event                        38124 non-null  object
 54  POStatus                     33261 non-null  object
 55  SignedDate                   12153 non-null  object
 56  Reason.For.Lost.Sales        1336 non-null   object
 57  Sales.Lost.To                0 non-null      float64
 58  Competitor.model             0 non-null      float64
 59  Comments.on.Lost.Deal        6035 non-null   object
 60  Net.Cost                     40212 non-null  object
 61  WorkFlow.Status              34177 non-null  object
 62  Type                         0 non-null      float64
 63  Unnamed..62                  46 non-null     object
 64  Base.Implement               38531 non-null  object
 65  Unnamed..0                   40258 non-null  int64
 66  CustomerName                 40258 non-null  object
 67  Location                     40258 non-null  object
 68  Serial.No                    38667 non-null  object
 69  Model                        40258 non-null  object
 70  Make                         40258 non-null  object
 71  Description                  40227 non-null  object
 72  New.Used                     40258 non-null  object
 73  Sale.Date                    40258 non-null  object
 74  Date.Rcvd                    40220 non-null  object
 75  Sold.To                      39823 non-null  object
 76  Total.Sales                  40258 non-null  object
 77  Total.Cost                   40258 non-null  object
 78  Gross.Margin                 40258 non-null  object
 79  Gross.Margin..               39860 non-null  object
 80  salesperson_name             40258 non-null  object
 81  Salesperson.Code             40258 non-null  object
 82  Acquired.By                  8260 non-null   object
 83  DaysOld                      40220 non-null  float64
 84  category                     39991 non-null  object
 85  sold_to_code                 39837 non-null  object
dtypes: float64(12), int64(6), object(68)
memory usage: 26.7+ MB

In [13]:
sales_ljoint_innerstk = pd.merge(sales,stock_joint_table1,left_on='Stock #',right_on='StockNumber',how = 'left')

In [14]:
# I choose this "sales_ljoint_innerstk" as my final sales table to do descriptive analysis,
# so that I could have more detailed information and correct matched customer name.
sales_ljoint_innerstk.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55377 entries, 0 to 55376
Columns: 106 entries, Location_x to sold_to_code_y
dtypes: float64(19), int64(1), object(86)
memory usage: 45.2+ MB

In [325]:
sales_ljoint_innerstk.to_csv('sales_ljoint_innerstk.csv')

In [15]:
sales_ljoint_nonamargin = sales_ljoint_innerstk.dropna(subset=["Gross Margin %"])

In [ ]:
sales_ljoint_innerstk_nonamargin.to_csv(r'/Users/wanbing/Documents/SIMON/SIMON/CIS465/Project landpro/draw/sales_ljoint_innerstk_nonamargin.csv', index = False, header = True)

In [29]:
#Construct a table shows the frequency of Equipment Category in both "jdquote1" and "sales_ljoint_innerstk" level
# and ratio of frequencies as generation rate

#1. create frequency column of "sales_ljoint_innerstk"
salescatfreq = sales_ljoint_innerstk['EquipmentCategoryDesc'].value_counts()
salescatfreq = salescatfreq.to_frame()
salescatfreq = salescatfreq.reset_index()
salescatfreq = salescatfreq.rename({'index':'Category', 'EquipmentCategoryDesc':'freq'}, axis='columns')


#2. create frequency column of "jdquote1"
jdcatfreq = jdquote1['EquipmentCategoryDesc'].value_counts()
jdcatfreq = jdcatfreq.to_frame()
jdcatfreq = jdcatfreq.reset_index()
jdcatfreq = jdcatfreq.rename({'index':'Category', 'EquipmentCategoryDesc':'freq'}, axis='columns')

#salescatfreq
#jdcatfreq

#3. create ratio column of 2 frequencies
salescatfreq['ratio'] = salescatfreq['freq']/jdcatfreq['freq']
salescatfreq['freqx'] = salescatfreq['freq']
salescatfreq['freqy'] = jdcatfreq['freq']
salescatfreq

,Category,freq,ratio,freqx,freqy
0,Mowers,15595,0.123179,15595,126604
1,AG Tractors,6847,0.170502,6847,40158
2,Turf implements,2835,0.087284,2835,32480
3,Material Handling,2176,0.083957,2176,25918
4,Utility Vehicles,2107,0.093247,2107,22596
5,Snow Equipment,1657,0.085753,1657,19323
6,Landscape Equipment,1404,0.111730,1404,12566
7,Agriculture Implements,1126,0.121980,1126,9231
8,Cutters & Shredders,1025,0.169674,1025,6041
9,Hay & Forage,824,0.177586,824,4640
10,Portable Power Equipment,564,0.210999,564,2673
11,Compact Excavators,339,0.164165,339,2065
12,ISG,318,0.197884,318,1607
13,Tillage,270,0.217918,270,1239
14,Compact Track Loaders,224,0.187291,224,1196
15,Skid Steers,207,0.178141,207,1162
16,Planting & Seeding,189,0.183852,189,1028
17,Combine Harvesting,185,0.182266,185,1015
18,Nutrient Application,170,0.169323,170,1004
19,Compact Attachments,152,0.278388,152,546
20,Worksite Pro Implements,130,0.308057,130,422
21,Sprayers,108,0.260241,108,415
22,Tractor Loader Backhoe,101,0.292754,101,345
23,Agriculture Attachments,62,0.186747,62,332
24,PRECISION AG TECHNOLOGY,57,0.231707,57,246
25,Compact 4WD Loaders,54,0.270000,54,200
26,Turf Attachments,47,0.388430,47,121
27,Construction Tools,42,0.777778,42,54
28,Commercial Mowing,17,0.326923,17,52
29,Trailers,16,0.347826,16,46
30,Turf Implements,14,0.318182,14,44
31,Harvesters,5,0.277778,5,18
32,Commercial Worksite Attachments,4,0.363636,4,11
33,Crawlers,4,0.444444,4,9
34,Irrigation,3,0.333333,3,9
35,Scrapers,2,0.222222,2,9
36,Backhoes,2,0.250000,2,8
37,4WD Loaders,2,0.250000,2,8
38,Tractor Implements - Compact Utility and Utili...,2,0.400000,2,5
39,Golf Products,1,0.250000,1,4
40,Riding Lawn Equipment,1,0.250000,1,4
41,Excavators,1,0.250000,1,4

In [30]:
#Construct a table shows the frequency of states in both "jdquote1" and "sales_ljoint_innerstk" level
# and ratio of frequencies as generation rate

#1. create frequency column of "sales_ljoint_innerstk"
salesstatefreq = sales_ljoint_innerstk['StateProvince'].value_counts()
salesstatefreq = salesstatefreq.to_frame()
salesstatefreq = salesstatefreq.reset_index()
salesstatefreq = salesstatefreq.rename({'index':'StateProvince', 'StateProvince':'freq'}, axis='columns')
 

#2. create frequency column of "jdquote1"
jdstatefreq = jdquote1['StateProvince'].value_counts()
jdstatefreq = jdstatefreq.to_frame()
jdstatefreq = jdstatefreq.reset_index()
jdstatefreq = jdstatefreq.rename({'index':'StateProvince', 'StateProvince':'freq'}, axis='columns')

#salesstatefreq 
#jdstatefreq

#3. create ratio column of 2 frequencies
salesstatefreq['ratio'] = salesstatefreq['freq']/jdstatefreq['freq']
salesstatefreq['freqx'] = salesstatefreq['freq']
salesstatefreq['freqy'] = jdstatefreq['freq']
salesstatefreq

   StateProvince   freq     ratio  freqx   freqy
0             NY  24555  0.202559  24555  121224
1             PA  13412  0.130014  13412  103158
2             OH    839  0.157146    839    5339
3             ON     72  0.331797     72     217
4             MI     50  0.324675     50     154
5             SD     42  0.287671     42     146
6             FL     32  0.275862     32     116
7             WV     30  0.267857     30     112
8             SC     26  0.260000     26     100
9             NJ     24  0.250000     24      96
10            NC     24  0.289157     24      83
11            MD     24  0.413793     24      58
12            VA     23  0.418182     23      55
13            WI     21  0.456522     21      46
14            MA     20  0.487805     20      41
15            IN     19  0.487179     19      39
16            MN     19  0.542857     19      35
17            CT     15  0.428571     15      35
18            ME     13  0.393939     13      33
19            OR     12  0.363636     12      33
20            MO     12  0.375000     12      32
21            VT     11  0.392857     11      28
22            IA     10  0.357143     10      28
23            TX      9  0.375000      9      24
24            KY      8  0.421053      8      19
25            TN      7  0.368421      7      19
26            IL      7  0.437500      7      16
27            DE      6  0.400000      6      15
28            WA      6  0.400000      6      15
29            RI      6  0.400000      6      15
30            KS      6  0.400000      6      15
31            NH      6  0.428571      6      14
32            CA      5  0.357143      5      14
33            NE      5  0.384615      5      13
34            QC      4  0.444444      4       9
35            ND      4  0.444444      4       9
36            MT      3  0.375000      3       8
37            OK      3  0.428571      3       7
38            CO      3  0.500000      3       6
39            MS      2  0.400000      2       5
40            LA      2  0.500000      2       4
41            GA      2  0.500000      2       4
42            AR      2  0.500000      2       4
43            ID      2  0.500000      2       4
44            AL      2  0.500000      2       4
45            NB      1  0.333333      1       3
46            NS      1  0.500000      1       2
47            NV      1  0.500000      1       2
48            UT      1  0.500000      1       2
49            DC      1  1.000000      1       1
50            GH      1  1.000000      1       1
51            AZ      1  1.000000      1       1
52            PE      1  1.000000      1       1
53           LIM      1  1.000000      1       1

In [49]:
#Save 2 frequency generation tables: one for equipment type level, one for state level.
salesstatefreq.to_csv(r'/Users/wanbing/Documents/SIMON/SIMON/CIS465/Project landpro/draw/stateratio.csv', index = False, header = True)
salescatfreq.to_csv(r'/Users/wanbing/Documents/SIMON/SIMON/CIS465/Project landpro/draw/catratio.csv',index=False,header=True)