In [1]:
import joblib
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import pickle
#from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
sales = pd.read_csv('Daily Wholegood Sales Master.csv')
stock_joint = pd.read_csv('Stock-joint-table.csv')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1,15,36,49,52,56,57,58,59,61,63) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1,15,49,52,56,59,61,63) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
#the one-to-one correspondence between stockNumber and Category
stock_category = stock_joint.drop_duplicates('StockNumber',keep = 'last')
stock_category.info()

#Connect Sales and Stock_category to get the Category information. The data volume of the new dataframe after the left connection should be consistent with the original Sales table, 55377 entries.
sales_with_category = pd.merge(sales,stock_category,left_on='Stock #',right_on='StockNumber',how = 'left')
sales_with_category.info()
sales_with_category.to_csv("sales_with_category.csv")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40258 entries, 1 to 69548
Data columns (total 86 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   X                            40258 non-null  int64
 1   QuoteID                      40258 non-null  object
 2   NameOfQuote                  24152 non-null  object
 3   QuoteType                    40258 non-null  object
 4   CreationDate                 40258 non-null  object
 5   ExpirationDate               40246 non-null  object
 6   CurrentQuoteStatus           40258 non-null  object
 7   CreatedLogon                 40258 non-null  object
 8   LastModifiedLogon            40258 non-null  object
 9   SalesPersonName              40257 non-null  object
 10  CompanyName                  7432 non-null   object
 11  ContactLastName              32345 non-null  object
 12  ContactFirstName             32336 non-null  object
 13  City                         37517 non-null  object
 14  StateProvince                39077 non-null  object
 15  PostalZip                    37516 non-null  object
 16  Phone                        36209 non-null  object
 17  Customer.Email               13625 non-null  object
 18  DealerID                     40258 non-null  int64
 19  DealerName                   40048 non-null  object
 20  DealerCity                   40048 non-null  object
 21  DealerState                  40048 non-null  object
 22  EquipmentCode                40258 non-null  int64
 23  EquipmentDescription         40258 non-null  object
 24  EquipmentType                40258 non-null  object
 25  EquipmentSerialNumber        26453 non-null  object
 26  EquipmentQuantity            40258 non-null  int64
 27  EquipmentAmount              40258 non-null  object
 28  DeereMDP                     0 non-null      float64
 29  CPA.CA.Surcharge.            0 non-null      float64
 30  SellingPrice                 40258 non-null  object
 31  EquipmentManufacturer        40244 non-null  object
 32  EquipmentCategoryDesc        38545 non-null  object
 33  EquipmentSubCategoryDesc     38437 non-null  object
 34  EquipmentManufactureYear     18646 non-null  float64
 35  EquipmentModel               40254 non-null  object
 36  StockNumber                  40258 non-null  int64
 37  IncentiveProgramNumber       10347 non-null  object
 38  EquipmentStatus              40258 non-null  object
 39  TradeInCode                  4709 non-null   float64
 40  TradeInDescription           729 non-null    object
 41  TradeInSerialNumber          3446 non-null   object
 42  TradeInQuantity              4709 non-null   float64
 43  NetTradeValue                4709 non-null   object
 44  TradeInManufacturer          4706 non-null   object
 45  TradeInCategoryDesc          2374 non-null   object
 46  TradeInSubCategoryDesc       1578 non-null   object
 47  TradeInManufactureYear       3782 non-null   float64
 48  TradeInModel                 4709 non-null   object
 49  PONumber                     26845 non-null  object
 50  FinanceIncentive             37678 non-null  float64
 51  FinanceIncentiveDescription  7521 non-null   float64
 52  TradeDifference              32552 non-null  object
 53  Event                        38124 non-null  object
 54  POStatus                     33261 non-null  object
 55  SignedDate                   12153 non-null  object
 56  Reason.For.Lost.Sales        1336 non-null   object
 57  Sales.Lost.To                0 non-null      float64
 58  Competitor.model             0 non-null      float64
 59  Comments.on.Lost.Deal        6035 non-null   object
 60  Net.Cost                     40212 non-null  object
 61  WorkFlow.Status              34177 non-null  object
 62  Type                         0 non-null      float64
 63  Unnamed..62                  46 non-null     object
 64  Base.Implement               38531 non-null  object
 65  Unnamed..0                   40258 non-null  int64
 66  CustomerName                 40258 non-null  object
 67  Location                     40258 non-null  object
 68  Serial.No                    38667 non-null  object
 69  Model                        40258 non-null  object
 70  Make                         40258 non-null  object
 71  Description                  40227 non-null  object
 72  New.Used                     40258 non-null  object
 73  Sale.Date                    40258 non-null  object
 74  Date.Rcvd                    40220 non-null  object
 75  Sold.To                      39823 non-null  object
 76  Total.Sales                  40258 non-null  object
 77  Total.Cost                   40258 non-null  object
 78  Gross.Margin                 40258 non-null  object
 79  Gross.Margin..               39860 non-null  object
 80  salesperson_name             40258 non-null  object
 81  Salesperson.Code             40258 non-null  object
 82  Acquired.By                  8260 non-null   object
 83  DaysOld                      40220 non-null  float64
 84  category                     39991 non-null  object
 85  sold_to_code                 39837 non-null  object
dtypes: float64(12), int64(6), object(68)
memory usage: 26.7+ MB